/* Color Classes */

:root {
    /* Nav Button Hover */
    --navbtnhovbg: #16181b;
    --navbtnhovfg: #f9f7f4;
    /* Nav Button Default */
    --navbtndefbg: black;
    --navbtndeffg: #d26094;
    --navbtnactivefg: #F9BCE8;
    /*  */
    --accentclr: #d26094;
    --accentclr2: #F9BCE8;
    --bodybg: #141617;
}


/* hover foreground */

.w3-hover-bl:hover {
    color: var(--accentclr2)!important;
}


/* hover background */

.w3-hover-bl:hover {
    background-color: var(--navbtnhovbg)!important;
}


/* NAV-BUTTON HOVER BG = HEADER, BTN_GRP BG */

.header-color,
#btn_grp {
    /* ACCENT COLOR */
    color: var(--accentclr)!important;
    background-color: var(--navbtnhovbg)!important;
}


/* MAIN BG */

body,
.footer {
    color: white;
    background-color: var(--bodybg) !important;
}

#btn_grp>button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* bottom border for non-active nav-button */
    border-bottom: 1px solid var(--accentclr);
}

#sec {
    /* section border */
    border: 1px solid var(--accentclr) !important;
    border-top: none !important;
}


/* ACTIVE NAV-BUTTON */

.bg,
.bg:hover {
    color: var(--navbtnactivefg) !important;
    background-color: var(--bodybg) !important;
    /* border all around */
    /* except bottom */
    border: 1px solid var(--accentclr) !important;
    border-bottom: none !important;
    box-shadow: 0px 0px;
}


/* DEFUALT NAV_BUTTON */

.btn-default {
    color: var(--navbtndeffg)!important;
    background-color: var(--navbtndefbg)!important;
}


/* Text Panels */

.headpanel {
    box-shadow: 0px 0px 5px var(--accentclr) !important;
    width: 100%;
    border-radius: 10px;
    color: var(--accentclr)!important;
    background-color: var(--navbtndefbg) !important;
}

.panel {
    font-size: x-small !important;
    color: white !important;
    box-shadow: 0px 0px 5px var(--accentclr) !important;
    border-radius: 5px;
    background-color: var(--navbtndefbg) !important;
    /* float: left; */
}

.anime-list-item {
    height: 45% !important;
    width: 100% !important;
    margin-top: 10px !important;
}

.anime-list-item-img>img {
    height: 20% !important;
    width: 20% !important;
    padding: 2px;
    border-radius: 5px;
}

.anime-list-item-text {
    margin-left: 20%;
    width: 80%;
    font-size: medium;
    text-align: center;
}

ul.tags>li {
    font-size: xx-small;
    display: inline;
    text-decoration: none;
}


/* Normal Buttons */

.btn {
    text-decoration: none;
    width: 50%;
    background-color: black;
    box-shadow: 0px 0px 5px var(--accentclr) !important;
    border-radius: 3px;
}


/* Toggle Button */

.togglebtn {
    background-color: black;
    color: var(--accentclr2);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.headpanel>a {
    padding: 100px !important;
}


/* Fonts */

@font-face {
    font-family: head;
    src: url(Fonts/Kalam-Bold.ttf);
}

@font-face {
    font-family: subhead;
    src: url(Fonts/ShareTechMono-Regular.ttf);
}

.heading {
    font-size: 235% !important;
    font-family: 'head' !important;
}

.subheading {
    font-size: 200% !important;
    font-family: 'subhead' !important;
}


/* MISC */

.wip {
    color: red;
}

.mySlides {
    display: none
}

.fa {
    padding-top: 7px !important;
}
